<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/{{css}}.css ">
    <link rel="stylesheet" href="../public/css/register.css">
       <title>Admin{{title}}</title>
</head>
   {{!-- NAVBAR --}}
   <nav class="navbar navbar-expand-lg navbar-dark bg-danger d-flex justify-content-between p-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="./">Menú</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
      
        <li class="nav-item">
          <a class="nav-link" href="./login">Ingresá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./register">Registrate</a>
        </li>
   
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Buscar">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
 {{!-- NAVBAR --}}
