
    
   {{!-- NAVBAR --}}
   <nav class="navbar navbar-expand-lg navbar-dark bg-danger d-flex justify-content-between p-4">
    <div class="container-fluid">
    <a class="navbar-brand" href="./">Menú</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
      
        <li class="nav-item">
          <a class="nav-link" href="./login">Ingresá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./register">Registrate</a>
        </li>
   
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Buscar">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Buscar</button>

        <div class="contenedorIcon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a. 375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg> 
        </div>
      </form>
    </div>
  </div>
   </nav>
 {{!-- NAVBAR --}}
 
<h1>Conocé nuestros productos: </h1> <br>
<div >
   {{#each productsList}}
   <h2>{{this.name}} </h2>

   <p>Precio: ${{this.price}} </p>
   <p>Descripcion: {{this.thumbnail}} </p>
   {{/each}}
</div>




